* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white
}

input[type=text] {
    color: black !important;
}

nav > ul.menu {
    display: flex;
    
}

nav {
    background-color: rgb(223, 70, 10);
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

nav > ul.menu > li {
    width: 16.66%;
    text-align: center;
    border-right: 1px solid white;
    position: relative;
}

ul.menu > li > a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
}

nav > ul.menu > li > a:hover {
    background-color: orange;
}

ul.menu > li > a > span {
    display: block;
}

.col10 {
    width: 10%;
}

.col70 {
    width: 70%;
}

.col90 {
    width: 90%;
}
.col20 {
    width: 20%;
}

.col30 {
    width: 33.33%;
}

header {
    background: linear-gradient(orange, #CC3300);
    margin-top: 5px;
}

div.my-header {
    display: flex;
    align-items: center;
}

div.my-header h1 {
    color: white;
    font-size: 40px;
    text-shadow: 3px 4px 3px darkblue;
}

input {
   padding: 10px; 
}

input[type=text] {
    width: 70%;
}

input[type=button] {
    background-color: orange;
    border: 1px solid orange;
}

.subcontent {
    display: none;
    width: 100%;
    z-index: 999;
}

.subcontent::after {
    content: " ";
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #CC3300 transparent;
    position: absolute;
    bottom: 100%;
    left: 45%
}

.sub:hover .subcontent {
    display: block;
    position: absolute;
}

section.courses {
    width: 80%;
    margin: 5px auto;
}

div.items {
    display: flex;
    flex-wrap: wrap;
}

div.item {
    width: 25%;
    padding: 5px;
    position: relative;
}

div.item h1 {
    background: linear-gradient(darkblue, lightblue);
    color: white;
    padding: 10px;
}

div.item > div {
    text-align: center;
    background: linear-gradient(rgb(216, 199, 168), orange);
}

div.item img {
    width: 70%;
}

aside.ads {
    position: fixed;
    
}

aside.ads ul, div.detail ul, footer ul {
    background: transparent !important;
}

aside.ads img {
    transition: transform 0.5s;
}

aside.ads img:hover {
    transform: scale(1.1);
}

footer {
    background: linear-gradient(orange, #CC3300);
}

div.my-footer {
    display: flex;
    padding: 15px;
}

div.detail {
    background: rgba(0, 0, 0, 0.6) !important;
    text-align: left !important;
    position:absolute;
    top: 20px;
    bottom: 0px;
    left: 100%;
    right: 0;
    padding-top: 20%;
    padding-left: 0;
    overflow: hidden;
    /* opacity: 0; */
    transition: left 1s;
    
    /* display: none; */
}

div.item:hover div.detail {
    left: 0;
    padding-left: 10%;
    /* opacity: 1; */
    /* display: block; */
}

h1.subject > span {
    display: block;
    width: 30%;
    background: darkorange;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}

h1.subject::after {
    content: " ";
    background-color: darkorange;
    width: 100%;
    height: 3px;
    display: block;
}

div.posts p, div.posts h3 {
    color:darkred !important;
}

div.post {
    display: flex;
}

div.post img {
    width: 100%;
}