* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

@font-face {
    font-family: myFont;
    src: url(../fonts/VNI-Ong\ do.ttf);
}

@font-face {
    font-family: myFont2;
    src: url(../fonts/VNI-Slogan.ttf);
}

.container {
    width: 70%;
    margin: 0 auto;
}

body {
    background: linear-gradient(blue, lightblue, rgb(167, 167, 230));
}

header {
    background-color: lightblue;
    position: relative;
    display: flex;
    align-items: center;
    /* padding: 5px; */
}

header h1 {
    color: rgb(172, 4, 4);
    text-shadow: 2px 3px 3px red;
    font-family: myFont;
}

.avatar {
    position: absolute;
    top: 0;
    right: 0;
}

div.nav {
    margin-left: auto;
    margin-top: auto;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

ul.menu > li {
    margin-right: 3px;
}

ul.menu > li > a {
    display: block;
    padding: 15px 25px;
    background: linear-gradient(darkblue, lightblue);
    color: white;
    border-radius: 15px 15px 0 0;
    font-family: myFont2;
    font-size: 20px;
}

section.works {
    background-color: blue;
}

div.ctrl {
    text-align: center;
    padding: 15px;
}

input {
    padding: 10px;
}

input[type=text], input[type=date] {
    width: 30%;
    color: darkblue;
}

input[type=button] {
    background-color: darkblue;
    color: white;
    border: 1px solid white;
    width: 80px;
}

.col5 {
    width: 5%;
}

.col70 {
    width: 70%;
}

.col15 {
    width: 15%;
}

.col10 {
    width: 10%;
}

div.item {
    background-color: darkblue;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

.active {
    background-color: darkred !important;
}

section.ads > div {
    background: linear-gradient(darkblue, blue);
    border: 2px solid gold;
    width: 13%;
    text-align: center;
    position: fixed;
    padding: 8em 0; 
}

section.ads > div:first-child {
    left: 1%;
}

section.ads > div:last-child {
    right: 1%;
}

footer {
    background-color: lightblue;
    padding: 2em 0;
    overflow: hidden;
}

footer > span {
    animation: dichuyen 20s infinite;
    position: relative;
}

@keyframes dichuyen {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

h1.subject {
    border-bottom: 5px solid darkblue;
    
}

h1.subject > span {
    background-color: darkblue;
    display: block;
    width: 30%;
    padding: 10px;
    font-size: 2em;
    position: relative;
}

h1.subject > span::after {
    content: " ";
    border-width: 37.5px;
    border-style: solid;
    border-color: transparent transparent darkblue darkblue;
    position: absolute;
    left: 100%;
    bottom: 0px;
}
div.figures {
    display: flex;
    flex-wrap: wrap;
}

div.figures > figure {
    width: 25%;
    margin: 0;
}

div.figures > figure img {
    width: 100%;
}

ul.user-info {
    background-color: darkred;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 18%;
    display: none;
}

ul.user-info::after {
    content: " ";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent darkred transparent;
    position: absolute;
    bottom: 100%;
    right: 3%;
}

a.avatar:hover + ul.user-info {
    display: block;
}

div.info {
    display: flex;
    width: 80%;
    margin: 2.5em auto;
}

div.info > div {
    width:50%;
    background-color: darkblue;
    padding: 1em;
    border: 2px dashed gold;
}

div.info > div:first-child {
    transform: skewY(-5deg) 
}

div.info > div:last-child {
    transform: skewY(5deg) 
}
